<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.neige"
    tools:ignore="ExtraText">
    <!-- Permissions requises -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.GestionCompte"></activity>
        <activity android:name=".activities.UpdatePassword" />
        <activity android:name=".activities.ListeFormulairesHorsLigne" />
        <activity android:name=".activities.Statistiques" />
        <activity android:name=".activities.FormulairesBD" />
        <activity android:name=".activities.Accueil" />
        <activity android:name=".activities.Bienvenue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Inscription" />
        <activity android:name=".activities.Connexion" />
        <activity android:name=".activities.EnvoiFormulaire" />
        <activity android:name=".activities.ForgotPassword" />
        <activity android:name=".activities.NeigePourcentage" /> <!-- API CODE GOOGLE MAPS -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".activities.Localisation" />
    </application>

</manifest>